@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
